{% extends 'common/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <ul class="nav flex-column col-sm-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                    PAST
                    <span class="badge badge-light">-1</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                    ALL
                    <span class="badge badge-light">-1</span>
                </a>
            </li>
            {% for category in category_list %}
            {% if category.next_max_position %}
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ category }}
                    <span class="badge badge-light">{{ category.next_max_position }}</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <div class="col-8">
            <form class="form-inline" method="POST" action="{% url 'api:task-list-all' %}" id="create-task-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.title.errors }}
                <label class="sr-only" for="id_title">Title</label>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Title" name="title" required=""
                       id="id_title">

                <label class="sr-only" for="id_content">Content</label>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Content" name="content" required=""
                       id="id_content">

                <label class="sr-only" for="id_due_date">DueDate</label>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Due Date" name="due_date" required=""
                       id="id_due_date">

                <input type="hidden" name="priority" value="0" min="0" required="" id="id_priority">
                <input type="hidden" name="position" value="0" min="0" required="" id="id_position">

                <button type="submit" class="btn btn-primary mb-2">Save</button>
            </form>
            <div>
                <ul class="list-group list-group-flush">
                    {% for task in task_list %}

                    <li class="list-group-item">
                        <i class="far fa-check-square"></i>
                        <i class="far fa-square"></i>
                        <i class="far fa-minus-square"></i>
                        {{ task }}
                        <i class="far fa-calendar-check"></i>
                        <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $("#create-task-form").submit(function(e) {
        e.preventDefault();
        $.ajax({
            url:"{% url 'api:task-list-all' %}",
            type:'post',
            data:$('#create-task-form').serialize(),
            success: function(data){
                location.reload();  // ToDo : 전송 방식을 변경해야 한다
            }
        });
        return false;
    });
});
</script>
{% endblock %}